.ios, .md {
  page-job-details{
    .scroll {
      height: 100%
    }
 
    ion-item-divider{
      font-size: 1.6em;
      color: #292929;
    }  
      
    .banner{
      text-align: center;
      background-color: #ccc;
      height: 45%;
      padding-top: 50px;
      color: #fff;
    }
    .banner h2{
      margin-bottom: 0;
    }
    .banner p{
      margin-top: 0;
    }
  }
}