 <ion-header>
  <ion-navbar color="dark">
    <ion-title>Job Statistics</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding> 
  <ion-list>
    <ion-item *ngFor="let user of appliedUsers" tappable >
      <ion-avatar item-start>
        <img src="http://placehold.it/200x200">
      </ion-avatar>
      <h2 *ngIf="user">{{user.firstname}} {{user.lastname}}</h2>
      <p *ngIf="user">{{user.gender}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list> 
</ion-content>
    